[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pandas = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.13"
